{% extends "layout/base.html" %}

    {% block conteudo %}

    <div class="container">

        <p class="h1 text-dark text-center mb-3 mt-3"><b>Crismandos para turma de {{turma.anoTurma}}</b></p>
        {% if err %}
            <div class="alert alert-danger">
                {{err}}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <form action="{% url 'crismando' %}" method="POST">
            {% csrf_token %}
            <div class = "container border rounded shadow rounded-sm" style="width:40%;">
                <input type="text" class="form-control mt-4 mb-4 border border-dark shadow-sm rounded" name="nome" id="nome" placeholder="Nome">
                <input type="date" class="form-control mb-4 border border-dark shadow-sm rounded" name="dtNasc" id="dtNasc" placeholder="Data Nascimento">
                <input type="text" class="form-control mb-4 border border-dark shadow-sm rounded" name="endereco" id="endereco" placeholder="Endereço">
                <input type="text" class="form-control mb-4 border border-dark shadow-sm rounded" name="numero" id="numero" placeholder="Número" pattern="[0-9]*">
                <input type="text" class="form-control mb-4 border border-dark shadow-sm rounded" name="compl" id="compl" placeholder="Complemento">
                <input type="text" class="form-control mb-4 border border-dark shadow-sm rounded" name="nomePai" id="nomePai" placeholder="Nome do Pai">
                <input type="text" class="telefone form-control mb-4 border border-dark shadow-sm rounded" name="telPai" id="telPai" placeholder="Telefone do Pai">
                <input type="text" class="form-control mb-4 border border-dark shadow-sm rounded" name="nomeMae" id="nomeMae" placeholder="Nome da Mãe">
                <input type="text" class="telefone form-control mb-4 border border-dark shadow-sm rounded" name="telMae" id="telMae" placeholder="Telefone da Mãe">
                <input type="hidden"  name="turma" id="turma" value="{{turma.anoTurma}}">
                <input type="hidden"  name="fezBatismo" id="fezBatismo">
                <input type="hidden"  name="fezComunhao" id="fezComunhao">
                <select class="form-control mb-4 border border-dark shadow-sm rounded" id="fezBatismoS" onchange="batismo()">
                    <option value="" disabled selected>Fez Batismo?</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
                <select class="form-control mb-4 border border-dark shadow-sm rounded" id="fezComunhaoS" onchange="comunhao()"> shadow rounded
                    <option value="" disabled selected>Fez Primeira Comunhão?</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
                <center><button type="submit" class="btn btn-dark btn-md mb-4 shadow rounded" style="height:25%;width:25%;">Salvar</button></center>
            </div>

        </form>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
        function batismo()
        {
            document.getElementById("fezBatismo").value = document.getElementById("fezBatismoS").value
        }
        function comunhao()
        {
            document.getElementById("fezComunhao").value = document.getElementById("fezComunhaoS").value
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script type="text/javascript">$('.telefone').mask('(00) 00000-0000');</script>
    {% endblock %}